#services {
	a {
	color: black;
	text-decoration: none;
	}
	a:hover {
	color: $allindays;
	}
}

.thumbnail {
	h3 {
	text-align: center;
	img {
	height:60px;
	width:60px;
	}
}
	li {
	margin-bottom: 20px;
	}
	ul {
list-style-type: none;
padding-left:0;
	}
	img {
	padding-top:20px;
	width:400px;
	border-radius: 15px;
	}
	p {
	padding-top:20px;
	}
}
